/* Customizing the colors and spacing */
body {
    background-color: #232264;
    color: #fff;
}

.card {
    border-radius: 15px;
    background-color: transparent;
}

.btn-outline-light {
    border-radius: 15px;
    border: 2px solid #fff;
    color: #fff;
}

.btn-circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.btn-light {
    border-radius: 15px;
    background-color: #fff;
    color: #233e82;
    font-size: 12px;
}

.navbar {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fixed-bottom .navbar {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
